ENVIRONMENT=production
DEBUG=FALSE
ALLOWED_HOSTS=abc.com,127.0.0.1
SECRET_KEY=django-insecure-4y02$++7^1k2ue=&lhto*x)vhkdx&!=)h0&8-y-*n$qi#@lymf

DATABASE_NAME=django_ecommerce
DATABASE_USER=root
DATABASE_PASSWORD=
DATABASE_HOST=localhost
DATABASE_PORT=3306

SIMPLE_JWT_ACCESS_TOKEN_LIFETIME_MINUTES=7200
SIMPLE_JWT_REFRESH_TOKEN_LIFETIME_DAYS=30

RZP_KEY_ID=GET_THIS_FROM_RAZORPAY_DASHBOARD
RZP_KEY=GET_THIS_FROM_RAZORPAY_DASHBOARD